
.delete-danh-muc{
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgb(230, 225, 225, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-delete-danh-muc{
    background-color: white;
    width: 400px;
    height: 170px;
    
}
#title-delete-danh-muc{
    text-align: center;
    margin: 0;
    padding: 20px 0 8px 0;
}
#content-delete-danh-muc{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: medium;
    font-weight: 500;
}

#img-edit-danh-muc, #img-delete-danh-muc{
    cursor: pointer;
}
.main-btn-delete-danh-muc{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
#cancel-delete-danh-muc, #active-delete-danh-muc{
    width: 80px;
    padding: 5px 15px 5px 15px;
    white-space: nowrap;
    border-radius: 5px;
    font-weight: 500;
}
#cancel-delete-danh-muc{
    background-color: aqua;
}
#active-delete-danh-muc{
    background-color: rgb(255, 21, 21);
}
