.admin-container {
  display: flex;
  height: 100vh;
  background-color: #f8fafc;
  font-family: Arial, sans-serif;
}

.AD-sidebar {
  width: 220px;
  background-color: #1e293b;
  color: white;
  padding: 20px 0;
}

.AD-logo {
  width: 40px;
  height: 40px;
  background: #3b82f6;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  margin: 0 auto 20px;
}
.AD-sidebar ul {
  list-style: none;
  padding: 0;
}
.AD-sidebar li {
  padding: 12px 20px;
  cursor: pointer;
}

.AD-sidebar li:hover,
.AD-sidebar li.active {
  background-color: #334155;
}

.AD-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.AD-header {
  height: 60px;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.AD-content {
  padding: 20px;
}
