.loc-don-hang{

    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 20px;
}
.loc-don-hang select{
    padding: 10px;
    height: 40px;
    margin-right: 10px;
    background-color: rgb(153, 255, 0);
    border-radius: 10px;
}
#btn-don-hang{
    background-color: red;
    height: 40px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    cursor: pointer;
}
#btn-don-hang:hover{
    transform: scale(1.1);
}