.main-don-hang{
    
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border: 2px solid;

}
#title-don-hang{
    text-align: center;
    margin: 0;
    padding: 20px;
}
.content-don-hang{
    height: 800px;
    max-width: 1280px;
     overflow-x: auto;
}
.table-don-hang{
    width: 100%;
    table-layout: auto;
    padding: 10px;
    border-collapse: collapse;
   
}   
td{
    padding: 5px;
    text-align: center;
}
#thead-don-hang{
    background-color: rgb(115, 255, 0);
}
.xem-don-hang{
    background-color: rgb(153, 255, 0);
    cursor: pointer;
}
.thong-tin-khach-hang{
    text-align: left;
}
.thong-tin-khach-hang p{
    margin: 4px 0 4px 0;
}