.container-chi-tiet-don-hang-kh {
    width: 90%;
    max-width: 1280px;
    min-height: 100vh;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 50px;
}

.container-chi-tiet-don-hang-kh h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
}

.thong-tin-kh-chi-tiet p {
    max-width: 90%;
    margin: 0 auto;
    font-size: 20px;
}

.main-ds-chi-tiet-don-hang-kh {
    margin-top: 30px;
}

.main-chi-tiet-don-hang-kh {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    padding: 10px 20px;
    background-color: white;
}

.img-chi-tiet-don-hang-kh img {
    height: 120px;
}

.content-chi-tiet-don-hang-kh {
    flex: 1;
    /* chiếm hết phần còn lại */
    min-width: 0;
}

.container-chi-tiet-don-hang-kh h3 {
    margin: 4px 0 4px;
}

.total-chi-tiet-kh {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.total-chi-tiet-kh h3,
.total-chi-tiet-kh span {
    color: red;
}

.total-chi-tiet-kh span {
    font-size: 20px;
}

.trang-thai-chi-tiet-kh {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.trang-thai-chi-tiet-kh span {
    font-size: 20px;
}

.huy-don {
    height: 40px;
    float: right;
    margin-right: 60px;
    margin-top: 50px;
    width: 100px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
}