.container-ds-don-hang-kh {

    width: 90%;
    max-width: 1280px;
    min-height: 100vh;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 50px;
}

.container-ds-don-hang-kh h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
}

.main-don-hang-kh {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
}
.main-don-hang-kh:hover{
    transform: scale(1.05);
}

.img-don-hang-kh img {
    height: 120px;
}

.content-don-hang-kh {
    flex: 1;        /* chiếm hết phần còn lại */
    min-width: 0;   /* cho phép co lại để ellipsis hoạt động */
}

.content-don-hang-kh h3 {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-don-hang-kh p {
    margin: 0;
}