.ds-danh-gia {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.thong-tin-danh-gia {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.avatar {
    height: 50px;
    width: auto;
}

.main-thong-tin-danh-gia {
    width: 100%;
}

.thong-tin-danh-gia-right {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thong-tin-danh-gia-right-child {
    display: flex;
    align-items: center;

    gap: 20px;
}

.star-danh-gia {
    font-size: 15px;
}

.noi-dung-danh-gia {
    margin-top: 5px;
}