.containersignup{
    display: flex;
    justify-content: center;
    
    height: 100vh;
    margin: 0;
}
#signup{
    width: 450px;
    height: 780px;
    /*margin: 0 auto;*/
    margin-top: 100px;
    border: none;
    border-radius: 30px;
    box-shadow: 7px 7px 11px 1px rgb(0 0 0), -7px -6px 7px 10px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signup-title{
    height: 100px;
    align-content: center;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(247, 0, 255);
}

.email, .username{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 30px;
    box-shadow: inset 1px 3px 5px 1px rgb(0 0 0), inset -7px -6px 11px 6px rgb(255, 255, 255);

}
.email input, .username input{
    width: 80%;
    height: 70%;
    margin: auto 0;
    border: none;
    outline: none;
    font-size: medium;
    font-weight: 500;
    background-color: transparent;
    
    border-radius: 10px;
}
.email{
    margin-top: 30px;
}
.email img, .username img{
    width: 15%;
    height: 50%;
    max-width: 8%;
    padding: 10px;
    opacity: 0.4;

}

.sdt{
    margin-top: 30px;
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow: inset 1px 3px 5px 1px rgb(0 0 0), inset -7px -6px 11px 6px rgb(255, 255, 255);
    border-radius: 30px;
}
.sdt input{
    width: 80%;
    height: 70%;
    margin: auto 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: medium;
    font-weight: 500;
    
}
.sdt img{
    width: 15%;
    height: 50%;
    max-width: 8%;
    padding: 10px;
    opacity: 0.4;
}
.ho-ten{
    margin-top: 30px;
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow: inset 1px 3px 5px 1px rgb(0 0 0), inset -7px -6px 11px 6px rgb(255, 255, 255);
    border-radius: 30px;
}
.ho-ten input{
    width: 80%;
    height: 70%;
    margin: auto 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: medium;
    font-weight: 500;
}
.ho-ten img{
    width: 15%;
    height: 50%;
    max-width: 8%;
    padding: 10px;
    opacity: 0.4;
}
.gioi-tinh{
    margin-top: 5px;
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-weight: bold;
}
.gioi-tinh input{
    margin-left: 25px;
}
.ngay-sinh{
    margin-top: 5px;
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-weight: bold;
}
.ngay-sinh input{
    margin-left: 25px;
    width: 50%;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
}
#click-signup{
    margin-top: 28px;
    width: 350px;
    height: 50px;
    font-size: x-large;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 30px;
    background-color: rgb(5, 148, 243);
    color: white;
    box-shadow: 3px 4px 8px 2px rgb(0 0 0), -7px -6px 10px 4px rgb(255, 255, 255);

}
#click-signup:hover{
    cursor: pointer;
}
.change-login{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.change-login a{
    margin-left: 5px;
    font-size: large;
    font-weight: bold;
    color: rgb(247, 0, 255);
}
.change-login a:hover{
    cursor: pointer;
}