.main-page {
    width: 90%;
    display: flex;
    justify-content: end;
    gap: 7px;
    margin-top: 10px;
    margin-right: 20px;
    padding-bottom: 50px;
}

.main-page span {
    font-weight: 600;
}

.main-page img {
    height: 20px;
    cursor: pointer;
}