.container-info-dat-hang {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.title-info-dat-hang {
    text-align: center;
}

.info-khach-hang {
    display: grid;
    grid-template-areas: "a b" "c c";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.ho-ten-info {
    grid-area: a;
    height: 30px;
}

.ho-ten-info input,
.sdt-info input,
.email-info input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.sdt-info {
    grid-area: b;
    height: 30px;
}

.email-info {
    grid-area: c;
    height: 30px;
}

.info-dia-chi input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
}

.pt-thanh-toan {
    margin-bottom: 0;
}

.phuong-thuc {
    margin-top: 8px;
}

.info-ghi-chu textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
}

.btn-info-dat-hang {
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.btn-info-dat-hang button {
    font-size: large;
}

.active-dat-hang {
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 0 50px 0 50px;
}

.btn-back-gio-hang {
    border: none;
    background-color: transparent;
}