USE [StorePhones]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[CartId] [int] NOT NULL,
	[MaPhienBan] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_CartItem] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC,
	[MaPhienBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDonHang] [nvarchar](255) NOT NULL,
	[MaPhienBan] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaPhienBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](255) NOT NULL,
	[SoSao] [int] NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaPhienBan] [int] NOT NULL,
	[NgayDanhGia] [datetime2](6) NOT NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](255) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DienThoai]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienThoai](
	[MaDienThoai] [int] IDENTITY(1,1) NOT NULL,
	[TenDienThoai] [nvarchar](255) NOT NULL,
	[HangSanXuat] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](255) NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_DienThoai] PRIMARY KEY CLUSTERED 
(
	[MaDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [nvarchar](255) NOT NULL,
	[NgayTao] [datetime2](6) NOT NULL,
	[TongTien] [float] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaKhachHang] [int] NOT NULL,
	[DiaChiGiaoHang] [nvarchar](255) NOT NULL,
	[PhuongThucThanhToan] [int] NOT NULL,
	[TrangThaiThanhToan] [bit] NOT NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [varchar](255) NOT NULL,
	[MaPhienBan] [int] NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 14/08/2025 4:38:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[NgaySinh] [datetime2](6) NOT NULL,
	[SoDienThoai] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 14/08/2025 4:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuyenMai] [nvarchar](255) NULL,
	[LoaiKhuyenMai] [nvarchar](255) NULL,
	[GiaTriGiam] [float] NOT NULL,
	[DieuKien] [float] NOT NULL,
	[NgayBatDau] [datetime2](6) NULL,
	[NgayKetThuc] [datetime2](6) NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuyenMai_DienThoai]    Script Date: 14/08/2025 4:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai_DienThoai](
	[MaKhuyenMai] [int] NOT NULL,
	[MaDienThoai] [int] NOT NULL,
 CONSTRAINT [PK_KhuyenMai_DienThoai] PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC,
	[MaDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhienBanDienThoai]    Script Date: 14/08/2025 4:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienBanDienThoai](
	[MaPhienBan] [int] IDENTITY(1,1) NOT NULL,
	[MauSac] [nvarchar](255) NOT NULL,
	[Rom] [nvarchar](255) NOT NULL,
	[Ram] [nvarchar](255) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [float] NOT NULL,
	[Pin] [int] NOT NULL,
	[ManHinh] [float] NOT NULL,
	[Camera] [int] NOT NULL,
	[MaDienThoai] [int] NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_PhienBanDienThoai] PRIMARY KEY CLUSTERED 
(
	[MaPhienBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

GO
INSERT [dbo].[Admin] ([Id], [UserName], [Password]) VALUES (1, N'admin123', N'$2a$10$mqTmIZIte2StuXScij4P9e.kqrtRw1NEnqkal2TB7jROvV/t9HKKK')
GO
INSERT [dbo].[Admin] ([Id], [UserName], [Password]) VALUES (2, N'admin1234', N'$2a$10$NTSOIPxj02vApChLmE/kOuJLMsmok3g.UjRC/rFlhV6uW9tTAHQuy')
GO
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

GO
INSERT [dbo].[Cart] ([CartId], [MaKhachHang]) VALUES (1, 1)
GO
INSERT [dbo].[Cart] ([CartId], [MaKhachHang]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
INSERT [dbo].[CartItem] ([CartId], [MaPhienBan], [SoLuong]) VALUES (1, 2, 1)
GO
INSERT [dbo].[CartItem] ([CartId], [MaPhienBan], [SoLuong]) VALUES (1, 5, 3)
GO
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaPhienBan], [SoLuong], [GiaBan]) VALUES (N'DH000001', 2, 2, 800000)
GO
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaPhienBan], [SoLuong], [GiaBan]) VALUES (N'DH000001', 4, 1, 10000000)
GO
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaPhienBan], [SoLuong], [GiaBan]) VALUES (N'DH000002', 2, 1, 300000)
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

GO
INSERT [dbo].[DanhGia] ([MaDanhGia], [NoiDung], [SoSao], [MaKhachHang], [MaPhienBan], [NgayDanhGia]) VALUES (11, N'Điện thoại xịn', 5, 1, 4, CAST(N'2025-08-12 14:16:24.3000000' AS DateTime2))
GO
INSERT [dbo].[DanhGia] ([MaDanhGia], [NoiDung], [SoSao], [MaKhachHang], [MaPhienBan], [NgayDanhGia]) VALUES (12, N'nô', 2, 1, 4, CAST(N'2025-08-12 16:21:11.3440000' AS DateTime2))
GO
INSERT [dbo].[DanhGia] ([MaDanhGia], [NoiDung], [SoSao], [MaKhachHang], [MaPhienBan], [NgayDanhGia]) VALUES (13, N'điện thoại xịn đó', 2, 1, 5, CAST(N'2025-08-13 22:26:02.0220000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

GO
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [TrangThai], [MoTa]) VALUES (27, N'Iphone', -1, N'Điện thoại siêu cấp vip pro')
GO
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [TrangThai], [MoTa]) VALUES (28, N'SamSung', -1, N'Điện thoại siêu cấp vip pro max')
GO
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [TrangThai], [MoTa]) VALUES (29, N'điện thoai hot', -1, N'điện thoại mới ra xưởng, nóng hổi vừa thổi vừa ăn')
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DienThoai] ON 

GO
INSERT [dbo].[DienThoai] ([MaDienThoai], [TenDienThoai], [HangSanXuat], [MoTa], [Image], [MaDanhMuc], [TrangThai]) VALUES (4, N'iphone', N'Apple', N'di?n tho?i 3 m?t nè', N'1753109893522trolley.png', 27, -1)
GO
INSERT [dbo].[DienThoai] ([MaDienThoai], [TenDienThoai], [HangSanXuat], [MoTa], [Image], [MaDanhMuc], [TrangThai]) VALUES (7, N'Iphone 15 pro max nè', N'Apple', N'Ði?n tho?i iphone 15 pro max m?i ra m?t', N'1753170274291ip.png', 27, -1)
GO
INSERT [dbo].[DienThoai] ([MaDienThoai], [TenDienThoai], [HangSanXuat], [MoTa], [Image], [MaDanhMuc], [TrangThai]) VALUES (9, N'iphone 15 pro', N'Apple', N'di?n tho?i x?n dây', N'1753109893522trolley.png', 27, -1)
GO
SET IDENTITY_INSERT [dbo].[DienThoai] OFF
GO
INSERT [dbo].[DonHang] ([MaDonHang], [NgayTao], [TongTien], [TrangThai], [GhiChu], [MaKhachHang], [DiaChiGiaoHang], [PhuongThucThanhToan], [TrangThaiThanhToan]) VALUES (N'DH000001', CAST(N'2025-08-13 20:07:58.9800000' AS DateTime2), 120000, 5, N'gì dó', 1, N'Hu?', 1, 1)
GO
INSERT [dbo].[DonHang] ([MaDonHang], [NgayTao], [TongTien], [TrangThai], [GhiChu], [MaKhachHang], [DiaChiGiaoHang], [PhuongThucThanhToan], [TrangThaiThanhToan]) VALUES (N'DH000002', CAST(N'2025-08-13 20:08:37.7970000' AS DateTime2), 130000, 4, N'giao nhanh', 1, N'Th?a thiên Hu?', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

GO
INSERT [dbo].[Images] ([Id], [Url], [MaPhienBan]) VALUES (22, N'1754981823609ip1.jpg', 2)
GO
INSERT [dbo].[Images] ([Id], [Url], [MaPhienBan]) VALUES (23, N'1754981823628ip.png', 2)
GO
INSERT [dbo].[Images] ([Id], [Url], [MaPhienBan]) VALUES (24, N'1754981823644icon-cart.png', 2)
GO
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [UserName], [Password]) VALUES (1, N'Nguy?n Công Qu?c', 1, CAST(N'2004-09-24 00:00:00.0000000' AS DateTime2), N'0938292839', N'quoc4373@gmail.com', NULL, N'Nguyenquoc123', N'$2a$10$mqTmIZIte2StuXScij4P9e.kqrtRw1NEnqkal2TB7jROvV/t9HKKK')
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [UserName], [Password]) VALUES (2, N'Nguyễn Văn Tèo', 1, CAST(N'2004-02-12 07:00:00.0000000' AS DateTime2), N'0292892820', N'quoc433@gmail.com', NULL, N'test123', N'$2a$10$NTSOIPxj02vApChLmE/kOuJLMsmok3g.UjRC/rFlhV6uW9tTAHQuy')
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [UserName], [Password]) VALUES (3, N'Nguyễn Văn M', 1, CAST(N'2006-02-11 07:00:00.0000000' AS DateTime2), N'0292839282', N'quoc2433@gmail.com', NULL, N'test1234', N'$2a$10$mqTmIZIte2StuXScij4P9e.kqrtRw1NEnqkal2TB7jROvV/t9HKKK')
GO
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[PhienBanDienThoai] ON 

GO
INSERT [dbo].[PhienBanDienThoai] ([MaPhienBan], [MauSac], [Rom], [Ram], [SoLuong], [GiaBan], [Pin], [ManHinh], [Camera], [MaDienThoai], [MoTa], [TrangThai]) VALUES (2, N'vàng', N'256Gb', N'8Gb', 22, 29000000, 3500, 5, 300, 1003, N'điện thoại mới ra mắt nè', 1)
GO
INSERT [dbo].[PhienBanDienThoai] ([MaPhienBan], [MauSac], [Rom], [Ram], [SoLuong], [GiaBan], [Pin], [ManHinh], [Camera], [MaDienThoai], [MoTa], [TrangThai]) VALUES (4, N'xanh', N'128Gb', N'8Gb', 20, 25000000, 5000, 5.4, 200, 1007, N'Điện thoại xịn xò đây', 1)
GO
INSERT [dbo].[PhienBanDienThoai] ([MaPhienBan], [MauSac], [Rom], [Ram], [SoLuong], [GiaBan], [Pin], [ManHinh], [Camera], [MaDienThoai], [MoTa], [TrangThai]) VALUES (5, N'lam', N'64Gb', N'8Gb', 200, 12000000, 7000, 6.5, 12, 1006, N'điện thoại chất lượng khỏi phải nói', 1)
GO
SET IDENTITY_INSERT [dbo].[PhienBanDienThoai] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_KhachHang]    Script Date: 14/08/2025 4:38:56 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [IX_KhachHang] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DanhGia] ADD  CONSTRAINT [DF_DanhGia_NgayDanhGia]  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  CONSTRAINT [DF_DanhMuc_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DienThoai] ADD  CONSTRAINT [DF_DienThoai_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhienBanDienThoai] ADD  CONSTRAINT [DF_PhienBanDienThoai_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_KhachHang]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([CartId])
REFERENCES [dbo].[Cart] ([CartId])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_PhienBanDienThoai] FOREIGN KEY([MaPhienBan])
REFERENCES [dbo].[PhienBanDienThoai] ([MaPhienBan])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_PhienBanDienThoai]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_PhienBanDienThoai] FOREIGN KEY([MaPhienBan])
REFERENCES [dbo].[PhienBanDienThoai] ([MaPhienBan])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_PhienBanDienThoai]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_KhachHang]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_PhienBanDienThoai] FOREIGN KEY([MaPhienBan])
REFERENCES [dbo].[PhienBanDienThoai] ([MaPhienBan])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_PhienBanDienThoai]
GO
ALTER TABLE [dbo].[DienThoai]  WITH CHECK ADD  CONSTRAINT [FK_DienThoai_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[DienThoai] CHECK CONSTRAINT [FK_DienThoai_DanhMuc]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_PhienBanDienThoai] FOREIGN KEY([MaPhienBan])
REFERENCES [dbo].[PhienBanDienThoai] ([MaPhienBan])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_PhienBanDienThoai]
GO
ALTER TABLE [dbo].[KhuyenMai_DienThoai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_DienThoai_DienThoai] FOREIGN KEY([MaDienThoai])
REFERENCES [dbo].[DienThoai] ([MaDienThoai])
GO
ALTER TABLE [dbo].[KhuyenMai_DienThoai] CHECK CONSTRAINT [FK_KhuyenMai_DienThoai_DienThoai]
GO
ALTER TABLE [dbo].[KhuyenMai_DienThoai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_DienThoai_KhuyenMai] FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
GO
ALTER TABLE [dbo].[KhuyenMai_DienThoai] CHECK CONSTRAINT [FK_KhuyenMai_DienThoai_KhuyenMai]
GO
ALTER TABLE [dbo].[PhienBanDienThoai]  WITH CHECK ADD  CONSTRAINT [FK_PhienBanDienThoai_DienThoai] FOREIGN KEY([MaDienThoai])
REFERENCES [dbo].[DienThoai] ([MaDienThoai])
GO
ALTER TABLE [dbo].[PhienBanDienThoai] CHECK CONSTRAINT [FK_PhienBanDienThoai_DienThoai]
GO
