
.menu-list {
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-list p {
    background-color: greenyellow;
    padding: 10px;
    border-radius: 15px;
    box-shadow: inset 4px 2px 4px 0px #02280c;
    box-shadow: inset -1px -2px 2px 3px #4e8b5f;
    font-family: emoji;
    font-weight: 600;
    cursor: pointer;
}
