
.container-edit-phien-ban{
    
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgb(230, 225, 225, 0.6);
    position: fixed;
    top: 0;
    left: 0;

}

.menu6{
   
    width: 800px;
    height: 520px;
    margin: 0 auto;
    background-color: #eff9ff;
    border-radius: 20px;
    border: 2px solid;
    margin-top: 80px;
}
#title-menu-edit{
    width: 100%;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.content-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    background-color: azure;
    padding: 20px 0 20px 0;
}
.select-img-edit{
    position: relative;
    margin-left: 20px;
    width: 30%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 10px 15px 10px;
    border: 2px solid;
    box-shadow: 8px -3px 4px black;
    border-radius: 20px;
    background-color: white;
}
.img-selected-edit2{
    width: 200px;
    height: 200px;
}
#select-image-edit, #select-image-edit2{
    display: none;
}
.select-btn-edit{
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: 2px solid;
    background-color:aqua;
}

.main-input-edit{
    width: 65%;
    display: grid;
    grid-template-areas:
        "a b"
        "c d"
        "e g"
        "h k"
        "l l"
        "i i";
    gap: 10px;
    padding: 0 10px 0 10px;
}

#dien-thoai-edit{
    grid-area: a;
}
#mau-sac-edit{
    grid-area: b;
}

#rom-edit{
    grid-area: c;
}

#ram-edit{
    grid-area: d;
}

#so-luong-edit{
    grid-area: e;
}

#gia-ban-edit{
    grid-area: g;
}

#pin-edit{
    grid-area: h;
}

#man-hinh-edit{
    grid-area: k;
}

#camera-edit{
    grid-area: l;
}

#mo-ta-san-pham-edit{
    grid-area: i;
    height: 60px;
    padding: 5px 10px 5px 10px;
    box-shadow: 4px -4px 1px 0px black;
    border-radius: 10px;

}
#dien-thoai-edit, #mau-sac-edit, #rom-edit, #ram-edit, #gia-ban-edit, #so-luong-edit, #man-hinh-edit, #pin-edit, #camera-edit{
    height: 40px;
    padding: 0 5px 0 5px;
    margin: 0;
    box-shadow: 4px -4px 1px 0px black;
    border-radius: 10px;
}
.btn-edit-phien-ban{
    margin-right: 70px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
}
#cancel-menu-edit-phien-ban{
    background-color: greenyellow;
    box-shadow:  3px -3px 0px 0px black;
    width: 70px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}
#save-menu-edit-phien-ban{
    background-color: red;
    box-shadow:  3px -3px 0px 0px black;
    width: 70px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}