.main-page {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
    padding-bottom: 50px;
}

.main-page span {
    font-weight: 600;
    font-size: 25px;
}

.main-page img {
    height: 25px;
    cursor: pointer;
}