.loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgb(199, 255, 206, 0.4);
}
.loading-child{
    font-size: larger;
    animation: loading 0.7s linear infinite;
}
@keyframes loading {
    0% {transform: rotate(0deg) scale(1); color: rgb(255, 0, 0); }
    25% {transform: rotate(90deg) scale(1.3); color: rgb(255, 251, 0); }
    50% {transform: rotate(180deg) scale(1.6); color: rgb(9, 255, 0); }
    75% {transform: rotate(270deg) scale(1.3); color: rgb(0, 217, 255);}
    100% {transform: rotate(360deg) scale(1); color: rgb(212, 0, 255); }
}