.GH-cart-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #007bff;
  color: white;
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.GH-product-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.GH-product-img {
  width: 80px;
  height: auto;
}

.GH-qty-input {
  width: 40px;
  height: 25px;
  text-align: center;
}

button {
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
}

.GH-delete-btn {
  background: none;
  border: none;
  font-size: 30px;
}

.GH-checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.GH-checkout-btn {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  
}
.info-phone{
  text-align: left;
}
.info-tong-tien{
  color: red;
  font-weight: bolder;
  font-size: large;
}
