.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}

.modal-container h3 {
  margin-bottom: 15px;
}

.detail-item {
  margin-bottom: 10px;
}

.btn-close {
  background: #e5e7eb;
  color: #374151;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  background-color: red;
}
.dropdown-ds{
  display: flex;
  flex-direction: column;
  max-height: 100px;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: aliceblue;
}
.dropdown-ds-item{
  padding: 5px;
}