.title-danh-gia{
    width: 100%;
    height: 50px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-danh-gia h2{
    margin: 0;
}
.title-danh-gia button{
    align-self: center;
    height: 70%;
    width: 150px;
}