.container-thong-ke-tk{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin: 40px 0 40px 0;
}
.tk-tong{
    flex: 1;
    max-width: 200px;
    height: 80px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}
.tk-tong p{
    font-weight: bold;
}
.title-tk{
    font-size: large;
    margin: 5px;
}